<p id="first">
  <%= @text["intro"] %>
  <%= @text["next_with_decline"] %>
</p>
<h3><%= @text["introduction"] %></h3>
<!--  file completely altered 20210827 by luciano -->
<ol>
  <li>
    <p><%= @text["section_1"] %></p>
    <% unless @text['section_1a'].nil? %>
    <ol>
      <li><%= @text["section_1a"] %></li>
      <li><%= @text["section_1b"] %></li>
      <li><%= @text["section_1c"] %></li>
      <li><%= @text["section_1d"] %></li>
    </ol>
    <% end %>
  </li>
</ol>
<h3><%= @text["rights_granted"] %></h3>
<ol start="2">
  <li>
    <p><%= @text["section_2"] %></p>
    <% unless @text['section_2a'].nil? %>
    <ol>
      <li><%= @text["section_2a"] %></li>
      <li><%= @text["section_2b"] %></li>
      <li><%= @text["section_2c"] %></li>
      <li><%= @text["section_2d"] %></li>
    </ol>
    <% end %>
  </li>
</ol>
<h3><%= @text["miscellaneous"] %></h3>
<ol start="3">
  <li>
    <p id="last"><%= @text["section_3"] %></p>
    <% unless @text['section_3a'].nil? %>
    <ol>
      <li><%= @text["section_3a"] %></li>
      <li><%= @text["section_3b"] %></li>
      <li><%= @text["section_3c"] %></li>
      <li><%= @text["section_3d"] %></li>
    </ol>
    <% end %>
  </li>
</ol>
